# Imports

In [29]:
import pandas as pd
import numpy as np

In [13]:
data_DB = pd.read_csv("Food_DB.csv")

In [28]:
data_DB.head()

              Meal  Amount  Stars  Effort  Notes  Probability
0     Makaronil책da       6      5       5    NaN         0.80
1          Lasagne       5      5       5    NaN         0.80
2            Pizza       4      5       5    NaN         0.80
3  Bacon 채rt pasta       4      5       4    NaN         0.85
4           Hotdog       2      5       1    NaN         1.00

# Main functions

In [186]:
# SETTINGS
days_in_plan = 7
starting_meal = 0
current_pos = [starting_meal, 1]
meals_left = 0

In [187]:
# Create probability
data_DB["Probability"] = ((data_DB["Stars"] / 5) * 0.75) + ((1 - 0.2 * (data_DB["Effort"] - 1)) * 0.25)

In [188]:
# Create mealplan_DB
mealplan_DB = pd.DataFrame()
mealplan_DB["meal_of_day"] = ["lunch", "dinner"]
days_in_plan_range = range(0,days_in_plan)
for i in days_in_plan_range:
    mealplan_DB[i + 1] = 0

In [189]:
mealplan_DB.head()

  meal_of_day  1  2  3  4  5  6  7
0       lunch  0  0  0  0  0  0  0
1      dinner  0  0  0  0  0  0  0

In [190]:
def populate_meal(meal):
    global meals_left
    print(meals_left)
    
    print(current_pos)
    if meals_left >= 2:
        mealplan_DB[current_pos[1]][current_pos[0]] = meal
        shift_forward()
        print("More than")
    elif meals_left == 1:
        mealplan_DB[current_pos[1]][current_pos[0]] = "doubleStack"
        shift_forward()
        print("1")
    else:
        print("NO FOOD LEFT")
    
    print(current_pos)
    meals_left = meals_left - 2

In [191]:
def shift_forward():
    # If lunch switch to dinner
    if current_pos[0] == 0:
        current_pos[0] = 1
    # If dinner switch to lunch and move day forward
    else:
        current_pos[0] = 0
        current_pos[1] = current_pos[1] + 1

In [193]:
meals_left = 8

In [198]:
populate_meal("HD")
mealplan_DB.head()

0
[0, 3]
NO FOOD LEFT
[0, 3]

  meal_of_day   1   2  3  4  5  6  7
0       lunch  HD  HD  0  0  0  0  0
1      dinner  HD  HD  0  0  0  0  0